* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 header {
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0,0,0,0.08);
      padding-top: 31px;
      padding-left: 37px;
      border-bottom: #B4AEAE;
    }

    .navbar {
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
    }

    /* ======== LOGO ======== */
    .logo {
      display: flex;
      align-items: center;
      max-width: 245px;
    }

    /* ======== MENU ======== */
    nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }

    nav ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    nav ul li a {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #4b5563;
      transition: color 0.2s ease;
    }

    nav ul li a:hover {
      color: #10B981; 
    }

    /* ======== BOTÃO ======== */
    .btn1 {
      background-color: #16A34A;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #F0FDF4;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;
      padding-left: 30px;
      border: 1px;
      border-radius: 6px;
      border-color: #21C05C;
      font-weight: 500;
      text-decoration: none;
      align-self: flex-end;
    }

    .btn:hover {
      background-color: #16A34A;
    }

    // BANNER PRINCIPAL SESSÃO 1

  .session1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 8%;
  background-color: #fff;
  flex-wrap: wrap;

  .TextosBanner1{
    max-width: 550px;
  }

    h1 {
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: #1F2937;
      margin-bottom: 1rem;
      line-height: 1.2;
    }

    p {
      font-size: 1.1rem;
      font-family: 'Poppins', sans-serif;
      color: #4B5563;
      margin-bottom: 2rem;
    }

    .buttonsbanner1 {
      display: flex;
      gap: 1rem;

      img{
        justify-content: center;
        margin-left: 5px;
      }

      .btn {
        display: inline-block;
        height: 62px;
        padding: 0.9rem 1.8rem;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease;
      }

      .btnprimeiro {
        background-color: #16A34A;
        border-color: #16A34A;
        color: white;

        &:hover {
          background-color: #16A34A;
        }
      }

      .btnsegundo {
        list-style-image: #2563EB;
        border: 2px solid #2563EB;
        color: #2563EB;

        &:hover {
          background-color: #2563EB;
          color: #fff;
        }
      }
    }
  }

  //SESSÃO 2 - FAIXA COM NÚMEROS

  .session2{
    background-color: #F3F5F8;
    width: 100%;
    height: 184px;
    top: 703px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;

    h3{
      font-size: 2.5rem;
      color: #16A34A;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
      font-family: 'Inter', sans-serif;
    }
    p{
      font-family: 'Poppins', sans-serif;
      color: #4B5563;
      font-size: 0.7rem;
      text-align: center;
    }
  }

  //COMO FUNCIONA SESSION 3

  .session3-comofunciona{
  text-align: center;
  padding: 4rem 8%;
  background-color: #fff;

    h2 {
     font-size: 2.2rem;
     font-family: 'Poppins', sans-serif;
     text-align: start;
     font-weight: 700;
     color: #1a1a1a;
     margin-bottom: 0.5rem;
    }
    .subtitulo{
      font-size: 1.2rem;
      font-family: 'Inter', sans-serif;
      text-align: start;
      color: #555;
      margin-bottom: 3rem;
    }

    .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; // espaço entre os cards
    flex-wrap: wrap; // permite quebrar linha em telas pequenas
    }
  
  }

// Estilo de cada Card

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  background-color: #F3F5F8;
  border-radius: 8px;
  padding: 2rem;
  width: 481px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }

  h3 {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    img {
      width: 32px;
      height: 32px;
      margin-right: 0.6rem;
    }
  }

  p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #555;
    margin-bottom: 1.8rem;
  }

  .itenscard {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .numbercard {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: white;
      font-weight: 600;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content:center;
    }

    .numbergreen {
      background-color: #22c55e;
    }

    .numberblue {
      background-color: #2563eb;
    }

    .textcard {
      h4 {
        font-size: 1.05rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin-bottom: 0.2rem;
        color: #1a1a1a;
      }

      p {
        font-size: 0.95rem;
        font-family: 'Poppins', sans-serif;
        color: #555;
        margin: 0;
      }
    }
  }

  // cores específicas para cada tipo de card

  &.doadores {
    h3 {
      color: #16A34A;
    }
  }

  &.adquirentes {
    h3 {
      color: #2563EB;
    }
  }
}

// SESSÃO 4 PRODUTOS DISPONÍVEIS

.produtos-disponiveis{
  background-color: #F3F5F8;
  text-align: center;
  padding: 4rem 8%;

  h2 {
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
  }

  .subtitulo {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    text-align: start;
    color: #555;
    margin-bottom: 3rem;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap; // permite quebrar em telas menores
  }

  .card {
    background-color: #fff;
    border: 2px solid #16A34A;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &:hover {
      transform: translateY(-6px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-bottom: 1px solid #eaeaea;
    }

    h3 {
      font-size: 1.2rem;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      color: #1a1a1a;
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      color: #555;
      margin: 0.5rem 1rem 1.5rem;
    }

    .btn {
      background-color: #16A34A;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 0.6rem 1.5rem;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 1.5rem;
      transition: background 0.3s ease;

      &:hover {
        background-color: #1ea653;
      }
    }
}

  // RESPONSIVIDADE 

@media(max-width:768px){
  .navbar{
    flex-direction: column;

    img{
      max-width: 245px;
      height: 43px;
    }
  }
}

@media(max-width:768px){
  .session1{
  flex-direction: column;
  text-align: center;
  text-align: left;
  gap: 1rem;

    h1{
      font-size: 3rem;
    }

    p{
      font-size: 1rem;
    }

    .buttonsbanner1{
      mg {
        width: 1rem;
      }
    
      .ImagemBanner{
        max-width: 80%;
      }
    }
  }
}
  .session2{
    gap: 1rem;
    padding: 35px 20px;

    .item {
      h3{
        font-size: 1.6rem;
      }
      p{
        font-size: 0.8rem;
      }
    }
  }
@media(max-width:768px){
    .session3-comofunciona{
      h2{
        text-align: center;
      }
      .subtitulo {
      font-size: 1.05rem;
      text-align: center;
      margin-bottom: 2.5rem;
      }
      .cards-container {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      }

      .card {
      width: 100%;
      max-width: 480px;
      padding: 1.5rem;
      text-align: left;
      }

      .card h3 {
      font-size: 1.3rem;

      img {
        width: 30px;
        height: 30px;
      }
      }

      .itenscard {
       .numbercard {
        width: 24px;
        height: 24px;
        font-size: 0.8rem;
       }

       .textcard h4 {
        font-size: 1rem;
       }

       .textcard p {
        font-size: 0.9rem;
       }
      }
    }
    // RESPONSIVIDADE SESSÃO 4 PRODUTOS DISPONÍVEIS

    @media (max-width: 768px){
      .produtos-disponiveis{
        padding: 3rem 5%;

        h2 {
          font-size: 1.8rem;
          text-align: center;
        }

        .subtitulo {
          font-size: 1rem;
          margin-bottom: 2rem;
          text-align: center;
        }

        .cards-container {
          flex-direction: column; // empilha os cards
          align-items: center; //centraliza horizontalmente
          gap: 1.5rem;
        }

        .card {
          width: 100%;
          max-width: 360px; // limite para não ficar largo demais
        }
      }
    }

  }